*.exe
*.dsym
main
/.vscode
/GLUGLU/functions/tests/*.txt
/GLUGLU/functions/tests/*.bin
/GLUGLU/functions/tests/*.o
/GLUGLU/functions/tests/*.exe
resounts2.txt
save_file_*.txt
settings.cfg
save_file_1.txt
dwarf_workplace_assignment_file_1.txt
rim_constructing_workplaces_file_1.txt
